@import "./style.css";

.game-card{
    --card-width:200px;
    --margin-top: 13px;
    width: var(--card-width);
}

.game-card h3{
    text-overflow: ellipsis;
    overflow: hidden; 
}

.game-card div, .game-card h3:not(.play-buy-button h3){
    margin-top: var(--margin-top);
}

.price-rating{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.price-rating img{
    margin-left: 2px;
}


.play-buy-button{
    --display-img: block;
    --display-text: none;
    width: var(--card-width);
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--acento-2);
}

.play-buy-button:hover{
    --display-img: none;
    --display-text: block;
    background-color: var(--acento-1);
    cursor: pointer;
}

.play-buy-button img{
    display: var(--display-img);
}

.play-buy-button h3{
    display: var(--display-text);
}