.feature{
    width: var(--max-width-container);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feature-card {
    width: 80%;
    height: 400px;
}

.feature-card h1 {
    position: relative;
    left: 5%;
    top: -80%;
    color: var(--acento);
    width: 90%;
}

.feature-card p{
    position: relative;
    left: 10%;
    top: -60%;
    width: 80%;
}

.feature-card img{
    z-index: -1;
    position: relative;
    top:0px;
    left: 0px;
    width: 100%;
    height: auto;
}