@import "./style.css";

footer{
    width: 100%;
    background-color: var(--principal);
    display: flex;
    justify-content: center;
}

footer div:first-child{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "caterogies"
    "redes";
}

footer div:first-child section:first-child{
    grid-area: "caterogies";
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 5px;
}

footer div:first-child section:nth-child(2){
    grid-area: "redes";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div:first-child li{
    margin-top: 8px;
}

footer div:first-child li:first-child{
    margin-top: 15px;
}

footer div:first-child img{
    width: 50px;
    height: 50px;
}

.redes-footer img{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

footer article{
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

footer li{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 80px;
    white-space: nowrap;
}

@media (min-width:769px) {
    footer article{
        margin-left: 2rem;
        margin-right: 2rem;
    }
    footer li{
        width: unset;
    }
}

@media (min-width:1025px) {
    footer div:first-child{
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
        "caterogies redes";
    }
}