@import "./style.css";

footer{
    width: 100%;
    background-color: var(--principal);
    display: flex;
    justify-content: center;
}

footer div:first-child{
    width: var(--max-width-container);
    height: 200px;
    display: grid;
    grid-template-columns: 2fr 1fr;
}

footer div:first-child section:first-child{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
}

footer div:first-child section:nth-child(2){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer div:first-child li{
    margin-top: 8px;
}

footer div:first-child li:first-child{
    margin-top: 15px;
}

footer div:first-child img{
    width: 50px;
    height: 50px;
}

.redes-footer img{
    margin-top: 20px;
    margin-left: 25px;
    margin-right: 25px;
}