@import "./general-style.css";

.game-carousel{
    overflow-x: scroll;
    white-space: nowrap;
    transition: all 0.2s;
    will-change: transform;
    cursor: pointer;
    width: 90%;
    max-width: 1200px;
    display: flex;
}

.game-carousel .game-card{
    margin-left: 7px;
    margin-right: 7px;
}

.game-carousel.active {
    cursor: grabbing;
    cursor: -webkit-grabbing;
}

@media (min-width:1024px) {
    .game-carousel{
        overflow-x: hidden;

    }
}