@import "./assets/style.css";

header{
    width: var(--max-width-container);
    height: 100px;
    background-color: var(--principal);
    display: flex;
    align-items: center;
    justify-content:space-around
}

.burger-menu{
    width: 30px;
    height: 30px;
    justify-self: flex-start;
    margin-left: 25px;
}

header div{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
}

nav a{
    text-decoration: none;
}

nav h3{
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}