.hero {
    width: var(--max-width-container);
    height: 600px;
}

.hero * {
    position: absolute;
    z-index: -1;
}

.background {
    z-index: -2;
    width: var(--max-width-container);
    height: 600px;
    left: 0px;
    top: 150px;
    overflow: hidden;
    display: block;
    object-fit: cover;

    background: linear-gradient(180deg, #1877F2 0%, rgba(0, 0, 0, 0) 100%), url("../assets/capa-fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.character {
    width: 597.87px;
    height: 500px;
    left: 0px;
    top: 250px;
}

.logo {
    width: 370.39px;
    height: 100px;
}

.hero h1 {
    width: 276px;
    height: 55px;
}

.hero p {
    width: 211px;
    height: 27px;
}

.hero input {
    width: 246px;
    height: 30px;

    background: var(--secundario1);
}

.hero button {
    width: 30px;
    height: 30px;

    background: var(--acento-1);
}

.action button img {
    width: 20px;
    height: 20px;
}

.action{
    display:flex;
    right: 200px;
    top: 300px;
    flex-direction: column;
    align-items: center;
}

.action *{
    position: static;
}

section .text{
    margin: 5%;
}