.hero {
    width: var(--max-width-container);
    height: 600px;
    overflow: hidden;
    display: block;
    object-fit: cover;
}

.hero * {
    position: absolute;
    z-index: -1;
}

.background {
    z-index: -2;
    width: var(--max-width-container);
    height: 600px;
    left: 0px;
    top: 150px;
    overflow: hidden;
    display: block;
    object-fit: cover;

    background: linear-gradient(180deg, #1877F2 0%, rgba(0, 0, 0, 0) 100%), url("../assets/capa-fondo.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.character {
    width: 597.87px;
    height: 500px;
    left: 0px;
    top: 250px;
}

.logo {
    width: 370.39px;
    height: 100px;
    left: 900px;
    top: 297px;
}

.hero h1 {
    width: 276px;
    height: 55px;
    left: 947px;
    top: 397px;
}

.hero p {
    width: 211px;
    height: 27px;
    left: 980px;
    top: 457px;
}

.hero input {
    width: 246px;
    height: 30px;
    left: 947px;
    top: 497px;

    background: var(--secundario1);
}

.hero button {
    width: 30px;
    height: 30px;
    left: 1193px;
    top: 497px;

    background: var(--acento-1);
}

.action button img {
    display: block;
    width: 20px;
    height: 20px;
    top: 5px;
    left: 5px;
}

.action{
    display: block;
    position: relative;
    right: 10%;
    top: -20%;
}

section .text{
    margin: 5%;
}