@import "./assets/style.css";

/* nav{
    background-color: var(--principal);
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 1;
} */

nav{
    width: 100%;
    background-color: var(--principal);
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1;
}

.burger-menu{
    width: 30px;
    height: 30px;
    justify-self: flex-start;
    margin-left: 25px;
}

.burger-menu:hover{
    cursor: pointer;
}

nav div{
    display: flex;
    align-items: center;
}

nav div:first-child{
    margin-left: 20px;
}

div.nav-categories ul{
    display: flex;
}

div.nav-categories a{
    text-decoration: none;
}

div.nav-categories h3{
    width: 140px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25px;
    margin-right: 25px;
}