.character-card {
    width: 300px;
    height: 464px;
}

.character{
    display: flex;
    flex-direction: column;
    background-color: var(--secundario-2);
    height: inherit;
}

.character:hover{
    opacity: 0;
}

.character img{
    height: 400px;
    object-fit: cover;
}

.character h2 {
    align-self: center;
}

.data {
    z-index: -1;
    position: relative;
    top: -464px;
    left: 0px;
    background-color: var(--secundario-2);
    height: inherit;
    width: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.data p{
    white-space: initial;
}

.row{
    display: flex;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 5px;
}

.align-right{
    align-items:flex-end;
}