.character-card {
    width: 300px;
    height: 464px;
}

.character{
    display: flex;
    flex-direction: column;
    background-color: var(--secundario-2);
    height: inherit;
}

.character img{
    height: 400px;
    object-fit: cover;
}

.character h2 {
    align-self: center;
}

.data {
    z-index: -1;
    position: relative;
    top: -464px;
    left: 0px;
    background-color: var(--secundario-2);
    height: inherit;
    width: inherit;
    word-wrap: break-word;
}

.character:hover{
    opacity: 0;
}