menu{
    background-color: var(--principal-menos1);
    width: 100%;
    position: absolute;
    top:100px;
    left: 0;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
}

menu div{
    display: flex;
    flex-direction: column;
    height: unset;
}

.menu-items{
    justify-content: flex-start;
}

.redes-menu{
    flex-direction: row;
    justify-content: center;
}

menu img{
    width: 50px;
    height: 50px;
    margin: 10px;
}

@media (min-width:769px) {
    menu{
        width: 400px;
        height: 300px;
        grid-template-rows: 0.5fr 3fr 1fr 1fr;
    }
}

@media (min-width:1025px) {
    menu{
        height: 600px;
    }

    menu div:nth-child(1) img{
        width: unset;
    }

    menu h2{
        margin: 30px;
    }

    menu h2:first-child{
        margin-top: 0;
    }
}

menu h2{
    animation-name: display-from-left-to-right;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes display-from-left-to-right{
    0% {opacity: 0; margin-left: 0;}
    100% {opacity: 1; margin-left: 30px;}
}
